# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
build/
dist/

# VSCode
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Installer logs
pip-log.txt

# Local tasks data
tasks.json